section.waiting
	.container
		h2.section_title Что вас ждет в нашем интенсиве?
		.section_line
		h3.section_desc 2 бесплатных полноценных обучающих вебинара, где:
		.waiting_wrapper
			.waiting_item
				img.item_img(src="./images/waitIcons/1.png", alt="icon1")
				p.item_text Всего за два бесплатных вебинара мы научим вас, как создать свой сайт на WordPress.
			.waiting_item
				img.item_img(src="./images/waitIcons/2.png", alt="icon1")
				p.item_text Покажем, как правильно оптимизировать сайт и сделать его привлекательным для поисковых систем. Только свежая, профессиональная и актуальная информация!
			.waiting_item
				img.item_img(src="./images/waitIcons/3.png", alt="icon1")
				p.item_text Вы узнаете, что такое «хорошая индексация»,«высокая посещаемость», «стабильный прирост посетителей», «ТОП по запросам» и, что намного важнее, как добиться всех этих показателей!