section.finish
	.container
		h2.section_title По окончании обучения Вы сможете!
		.section_line
		.finish_wrapper
			.finish_item
				figure
					img.finish_img(src="./images/finishIcons/1.png", alt="1")
				.finish_title Создать свой сайт или блог
			
			.finish_item
				figure
					img.finish_img(src="./images/finishIcons/2.png", alt="1")
				.finish_title Правильно его оптимизировать
			
			.finish_item
				figure
					img.finish_img(src="./images/finishIcons/3.png", alt="1")
				.finish_title Обеспечить ему медленный, но верный рост в ТОП
			
			.finish_item
				figure
					img.finish_img(src="./images/finishIcons/4.png", alt="1")
				.finish_title Достигнуть стабильного прироста посетителей

			.finish_item
				figure
					img.finish_img(src="./images/finishIcons/5.png", alt="1")
				.finish_title Получать ощутимую прибыль