section.gift
	.container
		figure
			img.gift_img(src="./images/icons/gift.png", alt="gift")
		p Для всех участников интенсива предусмотрены бонусы и подарки. Нажимайте на кнопку ниже, принимайте участие в вебинарах и забирайте свой приз по окончании обучения!
		a.btn(href="#") Записаться на интенсив!