section.web
	.container
		fugure
			img.web_img(src="./images/icons/first.png", alt="first")
		h2.web_title Первый вебинар состоится:
		h3.web_title-color 10 сентября в 20:00 по Москве
		h4.web_title-small Успейте записаться, количество мест ограничено!