.modal.fade.text-dark#contact-modal
	.modal-dialog
		.modal-content
			.modal-header
				h5.modal-title Contact Us
				button.close(data-dismiss='modal')
					span &times;
			.modal-body
				form
					.form-group
						label(for="name") Name
						input(type="text").form-control
					.form-group
						label(for="email") Email
						input(type="email").form-control
					.form-group
						label(for="message") Message
						textarea.form-control
			.modal-footer
				button.btn.btn-primary.btn-block Submit