extends ../template

block variables
	- var title = 'Mizuxe | Book'

block content
	include ../parts/nav
	include ../parts/showcase
	include ../parts/newsletter
	include ../parts/boxes
	include ../parts/about
	include ../parts/authors
	include ../parts/contact
	include ../parts/footer