extends ../template

block variables
	- var title = 'LoopLAB | Simply BS site'

block content
	include ../parts/nav
	include ../parts/header
	include ../parts/explore
	include ../parts/create
	include ../parts/share
	include ../parts/footer
	include ../modules/modal