section#about.py-5.text-center.bg-light
	.container
		.row
			.col
				.info-header.mb-5
					h2.text-primary.pb-3 Why This Book
					p.lead.pb-3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni dolorum nesciunt dicta, quaerat architecto at.
				//- accordion
				#accordion
					.card
						.card-header
							h5.mb-0
								div(href="#collapse1" data-toggle='collapse' data-parent='#accordion')
									i.fas.fa-arrow-circle-down  Get Inspired
						#collapse1.collapse.show
							.card-body
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sequi esse asperiores non vel dicta numquam explicabo aut, iure excepturi magni unde minima, illum eos, quos veritatis optio beatae enim exercitationem amet! Corrupti quisquam nemo quasi pariatur perferendis sit aliquid atque nostrum eius aspernatur quos, illum animi facere dolore rem?

					.card
						.card-header
							h5.mb-0
								div(href="#collapse2" data-toggle='collapse' data-parent='#accordion')
									i.fas.fa-arrow-circle-down  Gain The Knoweledge
						#collapse2.collapse
							.card-body
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sequi esse asperiores non vel dicta numquam explicabo aut, iure excepturi magni unde minima, illum eos, quos veritatis optio beatae enim exercitationem amet! Corrupti quisquam nemo quasi pariatur perferendis sit aliquid atque nostrum eius aspernatur quos, illum animi facere dolore rem?

					.card
						.card-header
							h5.mb-0
								div(href="#collapse3" data-toggle='collapse' data-parent='#accordion')
									i.fas.fa-arrow-circle-down  Open Your Mind
						#collapse3.collapse
							.card-body
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sequi esse asperiores non vel dicta numquam explicabo aut, iure excepturi magni unde minima, illum eos, quos veritatis optio beatae enim exercitationem amet! Corrupti quisquam nemo quasi pariatur perferendis sit aliquid atque nostrum eius aspernatur quos, illum animi facere dolore rem?