section#authors.my-5.text-center
	.container
		.row
			.col
				.info-header.mb5
					h1.text-primary.pb-3 Meet The Authors
					p.lead Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus cupiditate porro dolorem sint, expedita qui.
		.row
			.col-lg-3.col-md-6
				.card
					.card-body
						img(src="./img/person1.jpg", alt="person").img-fluid.rounded-circle.mb-3.w-50
						h3 Susan Williams
						h5.text-muted Lead Writer
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quia excepturi, quod rerum nulla voluptates?
						.d-flex.justify-content-center
							.p-4
								a(href="http://facebook.com")
									i.fab.fa-facebook
							.p-4
								a(href="http://twitter.com")
									i.fab.fa-twitter
							.p-4
								a(href="http://instagram.com")
									i.fab.fa-instagram

			.col-lg-3.col-md-6
				.card
					.card-body
						img(src="./img/person2.jpg", alt="person").img-fluid.rounded-circle.mb-3.w-50
						h3 Grace Smith
						h5.text-muted Co-Writer
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quia excepturi, quod rerum nulla voluptates?
						.d-flex.justify-content-center
							.p-4
								a(href="http://facebook.com")
									i.fab.fa-facebook
							.p-4
								a(href="http://twitter.com")
									i.fab.fa-twitter
							.p-4
								a(href="http://instagram.com")
									i.fab.fa-instagram
		
			.col-lg-3.col-md-6
				.card
					.card-body
						img(src="./img/person3.jpg", alt="person").img-fluid.rounded-circle.mb-3.w-50
						h3 John Doe
						h5.text-muted Editor
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quia excepturi, quod rerum nulla voluptates?
						.d-flex.justify-content-center
							.p-4
								a(href="http://facebook.com")
									i.fab.fa-facebook
							.p-4
								a(href="http://twitter.com")
									i.fab.fa-twitter
							.p-4
								a(href="http://instagram.com")
									i.fab.fa-instagram

			.col-lg-3.col-md-6
				.card
					.card-body
						img(src="./img/person4.jpg", alt="person").img-fluid.rounded-circle.mb-3.w-50
						h3 Kewin Swanson
						h5.text-muted Designer
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quia excepturi, quod rerum nulla voluptates?
						.d-flex.justify-content-center
							.p-4
								a(href="http://facebook.com")
									i.fab.fa-facebook
							.p-4
								a(href="http://twitter.com")
									i.fab.fa-twitter
							.p-4
								a(href="http://instagram.com")
									i.fab.fa-instagram

