section#boxes.py-5
	.container
		.row
			.col-md-3
				.card.text-center.border-primary.mb-resp
					.card-body
						h3.text-primary Be Better
						p.text-muted Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, natus!
			.col-md-3
				.card.text-center.bg-primary.mb-resp.text-white
					.card-body
						h3 Be Smarter
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, natus!
			.col-md-3
				.card.text-center.border-primary.mb-resp
					.card-body
						h3.text-primary Be Faster
						p.text-muted Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, natus!
			.col-md-3
				.card.text-center.bg-primary.text-white
					.card-body
						h3 Be Stronger
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, natus!