nav.navbar.navbar-expand-md.navbar-light.fixed-top.py-4#main-nav
	.container
		a.navbar-brand(href="#home")
			img(src="./img/mlogo.png", alt="mizuxe" width='50' height='50')
			h3.d-inline.align-middle Mizuxe
		button.navbar-toggler(data-toggle='collapse' data-target='#navbarCollapse')
			span.navbar-toggler-icon
		#navbarCollapse.collapse.navbar-collapse
			include ../modules/menu