section#newsletter.bg-dark.text-white.py-5
	.container
		.row
			.col-md-4
				input.form-control.form-control-lg.mb-resp(type='text' placeholder='Enter Name')
			.col-md-4
				input.form-control.form-control-lg.mb-resp(type='email' placeholder='Enter Email')
			.col-md-4
				button.btn.btn-primary.btn-lg.btn-block
					i.fas.fa-envelope-open-o Subscribe