section#showcase.py-5
	.primary-overlay.text-white
		.container
			.row
				.col-lg-6.text-center
					h1.display-2.mt-5.pt-5 Do What Your Dream Of...
					p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, reprehenderit.
					a.btn.btn-outline-secondary.btn-lg.text-white(href='#')
						i.fas.fa-arrow-right  Read More
				.col-lg-6
					img(src="./img/book.png", alt="book").img-fluid.d-none.d-lg-block