extends ../template

block variables
	- var title = 'Wordpress интенсив'

block content
	include ../blocks/section-promo
	include ../blocks/section-waiting
	include ../blocks/section-optimize
	include ../blocks/section-finish
	include ../blocks/section-gift
	include ../blocks/section-web
	include ../blocks/footer