header{
	position: relative;
}
nav{
	position: relative;
	width: 100%;
	height: 50px;
	background: #212121;
}

.subheader{
	position: absolute;
	width: 100%;
	height: 84px;
	background: rgba(0,0,0, .6);
	
}

.logo{
	display: block;
	max-width: 100%;
	margin-top: 16px;
	img{
		@include large{
			width: 100%;
		}
		@include normal{
width: 50%;
		}
	}
	
}

.logo_title{
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	opacity: 0.5;
	margin-top: 6px;
	@include large{
		font-size: 11px;
	}
	@include normal{
		display: none;
	}
}

.subheader_call{
	margin-top: 19px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
	text-align: right;
}

.subheader_phone{
	display: block;
	color: #ffffff;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 8px;
	text-align: right;
	line-height: 12px;
	@include Elarge{
		font-size: 18px;
	}
	@include normal{
		font-size: 12px;
		text-align: center;
	}
}

.subheader_btn{
	width: 172px;
	height: 46px;
	margin-top: 19px;
	@include large{
		width: 100%;
		height: 40px;
		margin-top: 21px;
	}
	@include normal{
		width: 110px;
		height: 22px;
		margin: 10px auto;
		padding-top: 3px;
	}
}

.xs-hidden{
	@include normal{
		display: none;
	}
}

.xl-visible{
	display: none;
	@include normal{
		display: block;
	}
}