.menu{
	padding: 13px 70px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	@include normal{
		flex-direction: column;
		align-items: center;
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 9;
		height: 100vh;
		justify-content: center;
		background: rgba(0,0,0,.8);
		transition: .7s all ease-in-out;
	}

	
	.menu_item{
		&:not(:last-child){
			border-right: 2px dotted #000;
			padding-right: 28px;
			@include Elarge{
				padding-right: 20px;
			}
			@include large{
				padding-right: 8px;
			}
			@include normal{
				padding-right: 0;
				border: none;
				margin-bottom: 10px;
			}
		}
		
	}
	.menu_link{
		color: #ffffff;
		font-size: 15px;
		font-weight: 300;
		@include Elarge{
			font-size: 13px;
		}
		@include large{
			font-size: 10px;
		}
		@include normal{
			font-size: 15px;
		}
	}
}

.menu_active{
	left: 0;
}

.hamburger{
	display: none;
	z-index: 9999;
	span{
		display: block;
		width: 100%;
		background: $main_color;
		height: 2px;
		margin-bottom: 5px;
		transition: all .3s ease-in-out;
	}
	@include normal{
		display: block;
		position: absolute;
		width: 30px;
		height: 30px;
		right: 10px;
		top: 20px;
		position: fixed;
	}
}

.hamburger_active{
	span{
		margin-bottom: -2px;
		&:nth-child(1){
			transform: rotate(-45deg);
		}
		&:nth-child(2){
			display: none;
		}
		&:nth-child(3){
			transform: rotate(45deg);
		}
	}
}