.mobile{
	padding: 48px 0 80px 0;
	background: url('../images/bg/bgMobile.png') center center/cover no-repeat;
	min-height: 864px;
	.container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.row{
		margin-top: 32px;
	}
}

.mobile_block{
	width: 320px;
	height: 280px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
	padding: 92px 0 35px 0;
	margin-bottom: 19px;
	position: relative;
	@include Elarge{
		width: 300px;
	}
	@include large{
		width: 200px;
		padding: 50px 0 30px 0;
	}
	@include normal{
		width: 100%;
		//height: 100%;
		//margin: 50px;
	}
	&::after{
		content: '';
		background: rgba(0,0,0,0.9);
		opacity: .8;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}
}

.mobile_block_1{
	background: url('../images/mobIcons/1.png') center center/cover no-repeat;
	width: 320px;
	height: 280px;
	@include Elarge{
		width: 300px;
	}
	@include large{
		width: 200px;
	}
	@include normal{
		width: 100%;
	}
}

.mobile_block_2{
	background: url('../images/mobIcons/2.png') center center/cover no-repeat;
	width: 320px;
	height: 280px;
	@include Elarge{
		width: 300px;
	}
	@include large{
		width: 200px;
	}
	@include normal{
		width: 100%;
	}
}

.mobile_block_3{
	background: url('../images/mobIcons/3.png') center center/cover no-repeat;
	width: 320px;
	height: 280px;
	@include Elarge{
		width: 300px;
	}
	@include large{
		width: 200px;
	}
	@include normal{
		width: 100%;
	}
}

.mobile_block_4{
	background: url('../images/mobIcons/4.png') center center/cover no-repeat;
	width: 320px;
	height: 280px;
	@include Elarge{
		width: 300px;
	}
	@include large{
		width: 200px;
	}
	@include normal{
		width: 100%;
	}
}

.mobile_block_5{
	background: url('../images/mobIcons/5.png') center center/cover no-repeat;
	width: 320px;
	height: 280px;
	@include Elarge{
		width: 300px;
	}
	@include large{
		width: 200px;
	}
	@include normal{
		width: 100%;
	}
}

.mobile_block_6{
	background: url('../images/mobIcons/6.png') center center/cover no-repeat;
	width: 320px;
	height: 280px;
	@include Elarge{
		width: 300px;
	}
	@include large{
		width: 200px;
	}
	@include normal{
		width: 100%;
	}
}

.mobile_title{
	color: #ffffff;
	font-size: 24px;
	font-weight: 400;
	line-height: 31px;
	text-transform: uppercase;
	text-align: center;
	z-index: 1;
	@include large{
		font-size: 15px;
	}
	@include normal{
		font-size: 18px;
	}
}

.mobile_plus{
	width: 26px;
	height: 26px;
	background-color: #000000;
	border-radius: 50%;
	z-index: 1;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $main_color;
	&:hover{
		text-decoration: none;
		transition: .55s all ease;
		transform: scale(1.2);
		color: #fff;
	}
}