header
  nav
    .container
      include nav
    .hamburger
      span
      span
      span
  .subheader
    .container
      .row
        .col-6.col-md-4.offset-md-1
          a.logo(href="#")
            img(src="./images/logo.png", alt="logo")
          .logo_title Официальный партнер Uber в Москве
        .col-6.col-md-3.offset-md-1.col-xl-2.offset-xl-2.xs-hidden
          .subheader_call Звоните нам ежедневно
          a.subheader_phone(href="tel:+74957970988") 8 495 797 09 88
        .col-6.col-md-3.col-lg-2
          a.subheader_phone.xl-visible(href="tel:+74957970988") 8 495 797 09 88
          a.btn.subheader_btn(href="#") заказать звонок