-var menu = ["Главная","Со своим автомобилем","На автомобиле компании", "Требования","Контакты","Оставить заявку"]
-var link = ['#', '#', '#', '#', '#', '#']


ul.menu
  -for(var i= 0; i < menu.length; i++)
    li.menu_item
      a.menu_link(href= link[i])= menu[i]