-
	var content = [
		{
			header: 'УСЛОВИЯ: со своим авто:',
			desc: 'В день заработок составляет 7000-12000р + бонус 3000т рублей',
			info: ['Подключаем к системе UBER  под 10%.', 'Ни каких взносов  0%!', 'Можем подключать удаленно без приезда в офис', 'ИП не требуется', 'Заказы распределяются без учета рейтинга ближайшим водителям', 'Работа только по безналичному расчету', 'Деньги перечисляем на карту водителю или наличными в офисе'],
			blue: true
		},
		{
			header: 'УСЛОВИЯ: на авто компании:',
			info: ['Предоставляем авто без залога', 'Без ежедневных выплат по аренде', 'Среда пятница и суббота работа на компанию остальные дни вы работаете на себя'],
			blue: true
		},
		{
			header: 'ТРЕБОВАНИЕ:',
			info: ['Наличие автомобиля без рекламы', 'Автомобиль не должен быть желтый и не с желтыми номерами', 'Машина не старше 3 лет', 'Стаж вождения не менее 3 лет', 'Дивайс на системе андроид 4.0и выше(самсунг)']
			
		},
		{
			header: 'ДОКУМЕНТЫ:',
			info: ['Права 2 стороны', 'Паспорт лицевая сторона', 'СтС', 'Лицензия( если есть)', 'Номер телефона', 'Номер карты для перечисления денег(указать в письме)!']
			
		},
	];
section.condition
	.container
		h2.section_title Возможности
		h3.section_desc-big условия и требования
		.row
			each val in content
				.col-md-6
					.condition_block(class= val.blue ? 'condition_block-blue' : 'condition_block-red')
						h2.condition_title= val.header
						ul.condition_list
							each item in val.info
								li.condition_item= item
						.condition_desc= val.desc




