section.promo
	.container
		.row
			.col-md-10.offset-md-1.col-12
				h1.promo_header КОМПАНИЯ UBER PARTNERS!
				h2.promo_subheader ПРИГЛАШАЕМ ВОДИТЕЛЕЙ! НА СВОЕМ АВТО!
				p.promo_desc Компания UBER  динамически развивающаяся. Компания на рынке занимает лидирующее место среди таксомоторных компаний, Компания абсолютно прозрачная вы можете контролировать все процессы у себя в личном кабинете. Бонуcная система.Помимо выполненной работы по заказам, компания начисляет бонусы за пиковое время.
				p.promo_desc Мы одни из партнеров и зарекомендовали себя как одна из лучших команд в городе Москве.  Водители у нас зарабатывают от 80000 - 120000 в месяц.
				.btn_center
					a.btn.promo_btn(href="#") ОТПРАВИТЬ ЗАЯВКУ!