-
	var content = [
		{
			img: './images/reasonsIcons/1.png',
			name: 'icon',
			title: 'Никаких наличных, оплата происходит автоматически',
			desc: 'Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена'
		},
		{
			img: './images/reasonsIcons/2.png',
			name: 'icon',
			title: 'Комиссия 8% + БОНУСЫ',
			desc: 'У нас минимальная комиссия и мы выплачиваем бонусы за каждую поездку, некоторые наши конкуренты оставляют бонусы себе. Мы работаем честно и с нами водители зарабатывают больше!'
		},
		{
			img: './images/reasonsIcons/3.png',
			name: 'icon',
			title: 'Высокий доход с гарантированными выплатами',
			desc: 'Мы выплачиваем заработную плату на личную банковскую карту водителя! Вам не нужно оформлять ООО, ИП, платить налоги, подавать декларацию, оплачивать бухгалтерские услуги и ведение банковского счета.'
		},
		{
			img: './images/reasonsIcons/4.png',
			name: 'icon',
			title: 'Работа в удобное время, никакиx графиков',
			desc: 'Вы просто нажимаете кнопку выйти на линию для начала работы, когда решите закончить, нажимаете выйти с линии. Вы можете подрабатывать только утром, вечером, в выходные или праздничные дни! '
		},
		{
			img: './images/reasonsIcons/5.png',
			name: 'icon',
			title: 'Комфортное, прозрачное и простое подключение',
			desc: 'Мы подключаем дистанционно и бесплатно, Вам нет необходимости приезжать к нам! Вы присылаете нам копии документов, мы регистрируем Вас и присылаем данные для подключения, через 1-2 дня Вы можете начинать работать!'
		},
		{
			img: './images/reasonsIcons/6.png',
			name: 'icon',
			title: 'НВсегда большое количество заказов',
			desc: 'Приложение показывает, где на данный момент больше всего заказов и где действуют повышенные тарифы. У Вас не будет простоя и холостых пробегов. Наши пассажиры всегда приятные и абсолютно неконфликтные люди, которых приятно возить.'
		},
		{
			img: './images/reasonsIcons/7.png',
			name: 'icon',
			title: 'Круглосуточная поддержка',
			desc: 'В Uber действует круглосуточная поддержка водителей по электронной почте. Если что-то непонятно, Вы всегда можете задать вопрос через On-line консультацию.'
		},
		{
			img: './images/reasonsIcons/8.png',
			name: 'icon',
			title: 'Без шашечек и наклеек',
			desc: 'Вам не нужно менять цвет, устанавливать «шашки» на автомобиль и обклеивать его наклейками.'
		},
	];
section.advantage
	.container
		h2.section_title преимущества
		h3.section_desc-big 8 причин начать работать с нами
		.row
			each val in content
				.col-md-6.col-12
					.advantage_block
						figure.advantage_pic
							img(src= val.img, alt= val.name)
						.advantage_desc
							p.advantage_lead= val.title
							p= val.desc
			