section.opportunities
	.container
		h2.section_title Возможности
		h3.section_desc-big Выбор - отличная штука!
		h4.section_desc-small Закажите автомобиль, который подходит вам по стилю и бюджету
		.row
			.col-md-8.offset-md-2.col-12
				figure
					img.opportunities_img(src="./images/bg/car.png", alt="car")
				h4.opportunities_title Машины на каждый день. <br>Лучше, быстрее и дешевле, чем такси