section#about-sec.py-3
	.container
		.row
			.col-md-6
				h2 What We Do
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta consectetur voluptate aliquid quisquam ad officia, tempore et, eligendi optio sapiente excepturi mollitia aperiam possimus neque totam aliquam explicabo, doloremque odio consequuntur ex provident veritatis nemo. Perferendis numquam quaerat laboriosam sit. Repudiandae, dicta expedita beatae quia assumenda rerum alias dolores illum?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquam eius consequatur molestias recusandae natus dolor totam fugiat, autem magnam, distinctio iusto qui nostrum est officiis sint dolorem itaque voluptatem libero alias! Doloribus sit praesentium maiores illum dolorum dolores, aspernatur earum totam minus odio libero, tempora voluptatum labore necessitatibus esse!
			.col-md-6
				img(src="https://source.unsplash.com/random/700x700/?technology", alt="we").img-fluid.rounded-circle.d-none.d-md-block