#blog-sec.py-3
	.container
		.row
			.col
				.card-columns
					.card
						img(src="https://source.unsplash.com/random/300x200", alt="blog").img-fluid.card-img-top
						.card-body
							h4.card-title Blog Post One
							small.text-muted Written by Jeff on 05/20
							hr
							p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, itaque ducimus veritatis perspiciatis autem deserunt eaque ex. Minima incidunt, officia ducimus, vel nemo deserunt dolorem eum perferendis cupiditate assumenda beatae maxime quasi aut ipsa a minus animi dolor! Alias, ab!
					.card.p-3
						blockquote.blockquote.card-body
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur architecto aspernatur itaque, nam qui esse.
							footer.blockquote-footer
								small.text-muted Someone Famous in <cite title='Source Titile'>Source Titile</cite>


					.card
						img(src="https://source.unsplash.com/random/300x200/?nature", alt="blog").img-fluid.card-img-top
						.card-body
							h4.card-title Blog Post Two
							small.text-muted Written by Kit on 05/22
							hr
							p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, itaque ducimus veritatis perspiciatis autem deserunt eaque ex. Minima incidunt, officia ducimus, vel nemo deserunt dolorem eum perferendis cupiditate assumenda beatae maxime quasi aut ipsa a minus animi dolor! Alias, ab!
					.card.p-3.bg-danger.text-white
						blockquote.blockquote.card-body
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur architecto aspernatur itaque, nam qui esse.
							footer.blockquote-footer
								small.text-white Someone Famous in <cite title='Source Titile'>Source Titile</cite>

					.card
						img(src="https://source.unsplash.com/random/300x200/?car", alt="blog").img-fluid.card-img-top
						.card-body
							h4.card-title Blog Post Three
							small.text-muted Written by Harry on 08/06
							hr
							p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, itaque ducimus veritatis perspiciatis autem deserunt eaque ex. Minima incidunt, officia ducimus, vel nemo deserunt dolorem eum perferendis cupiditate assumenda beatae maxime quasi aut ipsa a minus animi dolor! Alias, ab!
					.card.p-3
						blockquote.blockquote.card-body
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur architecto aspernatur itaque, nam qui esse.
							footer.blockquote-footer
								small.text-muted Someone Famous in <cite title='Source Titile'>Source Titile</cite>