section#contact-sec.py-3
	.container
		.row
			.col-md-4
				.card.p-4
					.card-body
						h4 Get In Touch
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, repudiandae?
						h4 Adress
						p 500 Main st, Boston MA
						h4 Email
						p test@test.com
						h4 Phone
						p (555) 555-5555
			.col-md-8
				.card.p-4
					.card-body
						h3.text-center Please fill out this form to contact us
						hr
						.row
							.col-md-6
								.form-group
									input(type="text" placeholder='First Name').form-control
							.col-md-6
								.form-group
									input(type="text" placeholder='Last Name').form-control
							.col-md-6
								.form-group
									input(type="email" placeholder='Email').form-control
							.col-md-6
								.form-group
									input(type="phone" placeholder='Phone').form-control
						.row
							.col-md-12
								.form-group
									textarea(type="text" placeholder='Message').form-control
							.col-md-12
								.form-group
									input(type="submit" value='Submit').btn.btn-outline-danger.btn-block