section#faq.p-5.bg-dark.text-white
	.container
		h2.text-center Frequently Asked Questions
		hr
		.row
			.col-md-6
				#accordion
					.card
						.card-header
							h5.mb-0
								a(href="#collapseOne" data-toggle='collapse' data-parent='#accordion') Question One
						#collapseOne.collapse
							.card-body
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum culpa non qui consequuntur, odit sapiente. Rem repellendus atque, laudantium voluptate tempora expedita error ducimus in porro veniam animi magnam ratione aliquid molestias est sit ab vitae corrupti accusantium ipsa eum.
					.card
						.card-header
							h5.mb-0
								a(href="#collapseTwo" data-toggle='collapse' data-parent='#accordion') Question Two
						#collapseTwo.collapse
							.card-body
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum culpa non qui consequuntur, odit sapiente. Rem repellendus atque, laudantium voluptate tempora expedita error ducimus in porro veniam animi magnam ratione aliquid molestias est sit ab vitae corrupti accusantium ipsa eum.

					.card
						.card-header
							h5.mb-0
								a(href="#collapseThree" data-toggle='collapse' data-parent='#accordion') Question Three
						#collapseThree.collapse
							.card-body
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum culpa non qui consequuntur, odit sapiente. Rem repellendus atque, laudantium voluptate tempora expedita error ducimus in porro veniam animi magnam ratione aliquid molestias est sit ab vitae corrupti accusantium ipsa eum.
			.col-md-6
				#accordion
					.card
						.card-header
							h5.mb-0
								a(href="#collapseFour" data-toggle='collapse' data-parent='#accordion') Question Four
						#collapseFour.collapse
							.card-body
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum culpa non qui consequuntur, odit sapiente. Rem repellendus atque, laudantium voluptate tempora expedita error ducimus in porro veniam animi magnam ratione aliquid molestias est sit ab vitae corrupti accusantium ipsa eum.
					.card
						.card-header
							h5.mb-0
								a(href="#collapseFive" data-toggle='collapse' data-parent='#accordion') Question Five
						#collapseFive.collapse
							.card-body
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum culpa non qui consequuntur, odit sapiente. Rem repellendus atque, laudantium voluptate tempora expedita error ducimus in porro veniam animi magnam ratione aliquid molestias est sit ab vitae corrupti accusantium ipsa eum.

					.card
						.card-header
							h5.mb-0
								a(href="#collapseSix" data-toggle='collapse' data-parent='#accordion') Question Six
						#collapseSix.collapse
							.card-body
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum culpa non qui consequuntur, odit sapiente. Rem repellendus atque, laudantium voluptate tempora expedita error ducimus in porro veniam animi magnam ratione aliquid molestias est sit ab vitae corrupti accusantium ipsa eum.