section#home-heading.p-5
	.dark-overlay
		.row
			.col
				.container.pt-5.text-center
					h2 Are You Ready To Get Started
					p.d-none.d-md-block Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi eius recusandae architecto, tempora adipisci a repudiandae similique ducimus cumque temporibus.