section#info.py-3
	.container
		.row
			.col-md-6.align-self-center
				h3 Lorem Text
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolorum tempora unde ex fuga tenetur assumenda neque blanditiis quibusdam quos.
				a(href="about.html").btn.btn-outline-danger.btn-lg Learn More
			.col-md-6
				img(src="./img/laptop.png", alt="Info").img-fluid
