section#newsletter.text-center.p-5.bg-dark.text-white
	.container
		.row
			.col
				h2 Sign Up Our Newsletter
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam unde cumque voluptatibus odit dolore sint cupiditate molestiae? Unde, officia sed?
				form.form-inline.justify-content-center
					input(type="text" placeholder='Enter Name').form-control.mb-2.mr-2
					input(type="email" placeholder='Enter Email').form-control.mb-2.mr-2
					button.btn.btn-primary.mb-2 Submit