section#services.py-5
	.container
		.row
			.col-md-4
				.card.text-center
					.card-header.bg-dark.text-white
						h3 Service Plain One
					.card-body
						h4.card-title $59.99/Month
						p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quisquam.
						ul.list-group
							li.list-group-item
								i.fas.fa-check  Feature One
							li.list-group-item
								i.fas.fa-check  Feature Two
							li.list-group-item
								i.fas.fa-check  Feature Three
							li.list-group-item
								i.fas.fa-check  Feature Four
							li.list-group-item
								i.fas.fa-check  Feature Five
						a(href="#").btn.btn-danger.btn-block.mt-2 Get It
					.card-footer.text-muted
						p 1 Year Plan
			.col-md-4
				.card.text-center
					.card-header.bg-dark.text-white
						h3 Service Plain Two
					.card-body
						h4.card-title $99.99/Month
						p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quisquam.
						ul.list-group
							li.list-group-item
								i.fas.fa-check  Feature One
							li.list-group-item
								i.fas.fa-check  Feature Two
							li.list-group-item
								i.fas.fa-check  Feature Three
							li.list-group-item
								i.fas.fa-check  Feature Four
							li.list-group-item
								i.fas.fa-check  Feature Five
						a(href="#").btn.btn-danger.btn-block.mt-2 Get It
					.card-footer.text-muted
						p 1 Year Plan
			.col-md-4
				.card.text-center
					.card-header.bg-dark.text-white
						h3 Service Plain Three
					.card-body
						h4.card-title $159.99/Month
						p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quisquam.
						ul.list-group
							li.list-group-item
								i.fas.fa-check  Feature One
							li.list-group-item
								i.fas.fa-check  Feature Two
							li.list-group-item
								i.fas.fa-check  Feature Three
							li.list-group-item
								i.fas.fa-check  Feature Four
							li.list-group-item
								i.fas.fa-check  Feature Five
						a(href="#").btn.btn-danger.btn-block.mt-2 Get It
					.card-footer.text-muted
						p 1 Year Plan