section#staff.py-5.text-center.bg-dark.text-white
	.container
		h2 Our Staff
		hr
		.row
			.col-md-3
				img(src="./img/person1.jpg", alt="persone").img-fluid.rounded-circle.mb-2
				h4 Jane Doe
				small Marketing Manager
			.col-md-3
				img(src="./img/person2.jpg", alt="persone").img-fluid.rounded-circle.mb-2
				h4 Sara Williams
				small Business Manager
			.col-md-3
				img(src="./img/person3.jpg", alt="persone").img-fluid.rounded-circle.mb-2
				h4 Jonh Doe
				small CEO
			.col-md-3
				img(src="./img/person4.jpg", alt="persone").img-fluid.rounded-circle.mb-2
				h4 Stive Smith
				small Web Developer