section#testimonials.p-4.bg-dark.text-white
	.container
		h2.text-center Testimonials
		.row.text-center
			.col
				.slider
					.wrap
						blockquote.blockquote
							p.mb-0 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, corrupti.
							footer.blockquote-footer John Doe From
								cite(title='Company 1') Company 1

					.wrap
						blockquote.blockquote
							p.mb-0 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, corrupti.
							footer.blockquote-footer Sam Smith From
								cite(title='Company 2') Company 2

					.wrap
						blockquote.blockquote
							p.mb-0 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, corrupti.
							footer.blockquote-footer Meghan Williams From
								cite(title='Company 3') Company 3