extends ../template

block variables
	- var title = 'Glozzom | About Us'

block content
	include ../parts/nav
	include ../parts/page-header
	include ../parts/about-sec
	include ../parts/icon-boxes
	include ../parts/testimonials
	include ../parts/footer