extends ../template

block variables
	- var title = 'Glozzom | Contact Us'

block content
	include ../parts/nav
	include ../parts/page-header-contact
	include ../parts/contact-sec
	include ../parts/staf
	include ../parts/footer