extends ../template

block variables
	- var title = 'Glozzom | Welcome to'

block content
	include ../parts/nav
	include ../parts/showcase
	include ../parts/home-icons
	include ../parts/home-heading
	include ../parts/info
	include ../parts/video
	include ../parts/photogallery
	include ../parts/newsletter
	include ../parts/footer