extends ../template

block variables
	- var title = 'Glozzom | Our Services'

block content
	include ../parts/nav
	include ../parts/page-header-services
	include ../parts/services-sec
	include ../parts/faq
	
	include ../parts/footer