extends ../template

block variables
	- var title = 'Your site | what do'

block content
	include ../blocks/header
	include ../blocks/section-promo
	include ../blocks/section-advantage
	include ../blocks/section-mobile
	include ../blocks/section-opportunities
	include ../blocks/section-condition
	include ../blocks/section-map
	include ../blocks/footer