//- create head section
section#create-head-section.bg-primary
	.container
		.row
			.col.text-center.py-5
				h2.display-4 Create
				p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus accusamus reprehenderit dolore quo, nihil quam consectetur quaerat tenetur blanditiis sequi?
				a.btn.btn-outline-light(href="#") Find Out More

//- Section create
section#create-section.py-5
	.container
		.row
			.col-md-6.order-2
				img(src="./img/create-section1.jpg", alt="create").img-fluid.mb-3.rounded-circle
			.col-md-6.order-1
				h3 Create Your Passion
				p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas dicta illum earum sed sit id libero enim explicabo totam doloremque.
				.d-flex
					.p-4.align-self-start
						i.fas.fa-check.fa-2x
					.p-4.align-self-end
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolorem, aspernatur corporis sit maxime alias!
				.d-flex
					.p-4.align-self-start
						i.fas.fa-check.fa-2x
					.p-4.align-self-end
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolorem, aspernatur corporis sit maxime alias!

