//- head section
section#explore-head-section
	.container
		.row
			.col.text-center.py-5
				h2.display-4 Explore
				p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus accusamus reprehenderit dolore quo, nihil quam consectetur quaerat tenetur blanditiis sequi?
				a.btn.btn-outline-secondary(href="#") Find Out More

//- Section
section#explore-section.bg-light.text-muted.py-5
	.container
		.row
			.col-md-6
				img(src="./img/explore-section1.jpg", alt="explore").img-fluid.mb-3.rounded-circle
			.col-md-6
				h3 Explore & Connect
				p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas dicta illum earum sed sit id libero enim explicabo totam doloremque.
				.d-flex
					.p-4.align-self-start
						i.fas.fa-check.fa-2x
					.p-4.align-self-end
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolorem, aspernatur corporis sit maxime alias!
				.d-flex
					.p-4.align-self-start
						i.fas.fa-check.fa-2x
					.p-4.align-self-end
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolorem, aspernatur corporis sit maxime alias!

