header#home-section
	.dark-overlay
		.home-inner.container
			.row
				.col-lg-8.d-none.d-lg-block
					h1.display-4 Build <strong>social profiles</strong> and gain revenue <strong>profits</strong>
					.d-flex
						.p-4.align-self-start
							i.fas.fa-check.fa-2x
						.p-4.align-self-end
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eius, soluta recusandae ab labore maiores.
					.d-flex
						.p-4.align-self-start
							i.fas.fa-check.fa-2x
						.p-4.align-self-end
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eius, soluta recusandae ab labore maiores.
					.d-flex
						.p-4.align-self-start
							i.fas.fa-check.fa-2x
						.p-4.align-self-end
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eius, soluta recusandae ab labore maiores.
				.col-lg-4
					.card.bg-primary.text-center.card-form
						.card-body
							h3 Sing Up Today
							p Please fill out form to register
							form
								.form-group
									input.form-control.form-control-lg(type='text' placeholder='Username')
								.form-group
									input.form-control.form-control-lg(type='email' placeholder='Email')
								.form-group
									input.form-control.form-control-lg(type='password' placeholder='Password')
								.form-group
									input.form-control.form-control-lg(type='password' placeholder='Confirm Password')
								input(type="submit" value="submit").btn.btn-outline-light.btn-block
					